# ==========================================
# BASE DE DATOS
# ==========================================
DB_HOST=db
DB_PORT=5432
DB_NAME=rental_management
DB_USER=postgres
DB_PASSWORD=clave_secreta

# ==========================================
# BACKEND
# ==========================================
BACKEND_PORT=8081

# ==========================================
# OPENCLAW & TELEGRAM
# ==========================================
OPENCLAW_PORT=18789
TELEGRAM_BOT_TOKEN=token_de_telegram
